extends layout-sidebar.pug

include layout/page-actions.pug
include layout/breadcrumbs.pug

block header
  +header(translate('page.directory.title'), translate('page.directory.desc', url))

block content
  +page-actions({ history: '?a=history', create: user && '?a=edit' })
    +breadcrumbs
    h1= translate('page.directory.header')
    p= translate('page.directory.info', url)
    each files, letter in model.files
      h3(id=letter)= letter
      .directory
        each file in files
          a(href=url + file)= file

append sidebar
  each files, letter in model.files
    a.sidebar-md(href='#' + letter)= letter
