extends layout-sidebar.pug

include layout/page-actions.pug

block header
block banner
block content
  +page-actions({ back: url })
    h1.text-center= translate('page.edit.header')
    h3.text-center= translate('page.edit.desc', url)
    form#editForm(action=url method='POST')
      input(name='message' type='text' placeholder='update ' + url)
      input.btn.btn-success(type='submit' value=translate('page.edit.commit'))

      input(name='useDir' type='checkbox' id='editUseDir')
      label(for='editUseDir' title=translate('page.edit.useDirTip'))
        .box
        =translate('page.edit.useDir')

      textarea#editBody.monospace(name='body' rows=30)= model.data


    form#previewForm(action='javascript:')
      h2.text-center= translate('page.edit.previewTitle')
      p.text-center
        input.btn.btn-primary(type='submit', value=translate('page.edit.previewUpdate'))
      hr
      #preview
        p.text-center= translate('page.edit.previewEmpty')

append scripts
  script.
    $(function () {
      $('#previewForm').submit(function (e) {
        e.preventDefault();
        $('#preview').html('<p class="text-center">Just a moment...</p>');
        $.post('/special/parsers', { body: $('#editBody').val() }, function (data) {
          $('#preview').html(data);
        });
      });
    });
