extends layout-sidebar.pug

include layout/page-actions.pug

block header
  +header(translate('error.header', model.errno), translate('error.err.' + model.errno, model.url))

block content
  +page-actions({ home: '/' })
    if Utils.locked(model.url)
      p= translate('error.body.locked')
      a.btn.btn-lg.btn-primary(href='/')= translate('page.action.home')
    else
      p= translate('error.body.unlocked')
      a.btn.btn-lg.btn-primary(href='?a=history')= translate('page.action.history')
      a.btn.btn-lg.btn-success(href='?a=edit')= translate('page.action.create')
    if model.info
      hr
      p= translate('error.body.info')
      pre= model.info
