doctype html
html
  head
    title #{repository.title || 'Wiki'} &#183; #{config.wiki.name}

    // vendor files
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous")

    // custom header content
    link(rel='stylesheet' href='/styles/layout.scss')
    link(rel='stylesheet' href='/styles/' + controller.name + '.scss')
    block scripts
  body
    include layout/navbar.pug
    block header
      #header.jumbotron
        .container
          h1 Page Title
          h2 The page's description would go here.
    block banner
      #banner
        .container
          p Welcome to Skribki!
          span.banner-dash &#8211;
          a(href='http://wiki.vevox.io/app/skribki/getting-started') Getting Started
    block body
    block footer
      footer
        .container
          p
            | #{config.oem.name}, a free wiki powered by&nbsp;
            a(href='https://github.com/VevoxDigital/Skribki') Skribki.
