//
  +
  #--------------------[ Skribki Wiki ]-------------------#
    A free & open-source wiki developed by Vevox Digital
          https://github.com/VevoxDigital/Skribki

            To My Warrior, Half the World Away
      Myra ta Hayzel; Pal Kifitae te Entra en na Loka
  #-------------------------------------------------------#
  +
doctype html
html
  head
    title #{repository.title || 'Wiki'} &#183; #{config['wiki.name']}

    // vendor files
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u'
        crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.1.1.min.js')

    // custom header content
    link(rel='stylesheet' href='/styles/layout.scss')
    link(rel='stylesheet' href='/styles/' + name + '.scss')
    block scripts
  body
    include layout/navbar.pug
    include layout/page-header.pug

    block header
      +header('Page', 'A non-descript page.')

    include layout/banner.pug

    block body
      p Hello world!

    include layout/footer.pug
