extends layout-sidebar.pug

block header
  .jumbotron.jumbotron-header
    .container
      h1= model.page.header.title
      h2= model.page.header.desc

block content
  div.content-options.text-right
    if model.action === 'edit'
      a(href=url)= translate('page.action.back')
    else
      a(href='?a=history')= translate('page.action.history')
      if user
        a(href='?a=edit')= translate('page.action.edit')
        a.danger(href='?a=delete')= translate('page.action.delete')
  div.content-page!= model.page.body

append sidebar
  each link in (model.page.toc || [])
    if link.level === 1
      a.sidebar-lg(href='#'+link.id)= link.content
    else if link.level === 2
      a.sidebar-md(href='#'+link.id)= link.content
    else if link.level === 3
      a.sidebar-sm(href='#'+link.id)= link.content
