block footer
  footer#footer
    .container
      p
        | #{config['wiki.name']}, a free wiki by #{config['oem.name']} powered by&nbsp;
        a(href='https://github.com/VevoxDigital/Skribki') Skribki
        | . Unless otherwise noted, content is available under&nbsp;
        a(href=config['license.url'])= config['license.name']
        | .
      p.langs
        | v
        strong= config.version
        |  :: View in:
        each lang, id in config.languages
          |  &nbsp;
          if (id === controller.req.language)
            = lang.name
            if (lang.region)
              |  (#{lang.region})
          else
            a(href='?language='+id)= lang.name
              if (lang.region)
                |  (#{lang.region})
